.resume {
  height:auto;
  padding-bottom: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: start;

  &__header {
    color: white;
    position: relative;
    height: 2rem;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: .1rem;
      top: 2.5rem;
      left: 0;
      background-color:cornflowerblue;
    }
  }
  &__table {
    width: 25vw;
    display: flex;
    max-width: 25vw;
    justify-content: center;

    &-element {
      list-style: none;
    }
  }
}