.about {
  height: 100vh;
  width: 100vw;
  background-color: #000524;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  color: white;
  justify-content: center;
  align-items: start;
  line-height: 1.7rem;
  padding-top: 20vw;

  &__img {
    background-color: white;
    border-radius: 25%;
    padding: 10px;
    display: none; /* временно */
  }
  &__me {
    width: 20vw;
    color: lightslategray;
    &__header {
      margin-bottom: .7rem;
      position: relative;
      color: white;
      font-size: 2.3rem;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .1rem;
        top: 2rem;
        left: 0;
        background-color: cornflowerblue;
      }
    }
    &-skill {
      color: antiquewhite;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: lightslategray;

    &__header {
      color: white;
      position: relative;
      font-size: 2.3rem;
      margin-bottom: .3rem;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .1rem;
        top: 2rem;
        left: 0;
        background-color: cornflowerblue;
      }
    }
    &-important {
      color: antiquewhite;
    }
  }
}


@media (max-width: 1000px) {
  .about {
    height: auto;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    &__me {
      width: 70vw;
    }
  }
}