@import "../../variables";

.home {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__wrap {
    height: $home-text-height;
    width: 35vw;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__name {
      font-size: 6rem;
      width: 40vw;

    }
    &__description {
      font-size: 1rem;
    }
  }
  &__buttonsWrap {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;

    &__linksWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      gap: 1.5rem;
      flex-direction: row;
      height: $linkButton-height;
    }
    &__pulse {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background: #26e2ff;
      cursor: pointer;
      box-shadow: 0 0 0 rgba(38, 226, 255, 0.4);
      animation: pulse 1.5s infinite;
      transition: all .3s;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &__icon {
        color: black;
      }
      &:hover {
        animation: none;
        background-color: darkviolet;
      }
    }
    &:hover {
      gap: 7rem;
    }
  }
}

@media (max-width: 1000px) {
  .home{
    &__wrap {
      width: 60vw;
      height: 40vh;
      &__name{
        font-size: 4rem;
      }
      &__description {
        font-size: 1rem;
      }
    }
    &__buttonsWrap {
      margin-top: 1rem;
      &__linksWrap {
        flex-direction: column;
        gap: 1rem;
        height: calc(2 * $linkButton-height + 1rem);
        &__pulse {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .home{
    &__wrap {
      width: 60vw;
      height: 30vh;
      &__name{
        font-size: 3rem;
      }
      &__description {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .home{
    &__wrap {
      width: 70vw;
      height: 30vh;
      &__name{
        font-size: 2rem;
      }
      &__description {
        font-size: 1rem;
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(38, 226, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(38, 226, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(38, 226, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(38, 226, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(38, 226, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(38, 226, 255, 0);
    box-shadow: 0 0 0 15px rgba(38, 226, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(38, 226, 255, 0);
    box-shadow: 0 0 0 0 rgba(38, 226, 255, 0);
  }
}