@import "../../variables";

.header {
  width: 100vw;
  height: $header-height;
  background-color: transparent;
  color: powderblue;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s ease-out;
  opacity: 1;
  z-index: 100;

  &.hidden {
     opacity: 0;
  }
  &.notTransparent {
    background-color: #163b89;
  }
  &-text {
    transition: color .3s;
    display: inline-block;
    font-size: 1.1rem;
    position: relative;
    color: whitesmoke;
    &:hover {
      color: lightgray;
      cursor: pointer;
    }
    &:active {
      color: white;
      cursor: pointer;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: .13rem;
      bottom: 0;
      left: 0;
      background-color:gray;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    gap: 1rem;

    &-text {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 700px) {
  .header {
    gap: 1rem;

    &-text {
      font-size: 1rem;
    }
  }
}
@media (max-width: 500px) {
  .header {
    gap: .6rem;

    &-text {
      font-size: 1rem;
    }
  }
}