* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Raleway', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  height: 400vh;
  background-color:#150b47;
}