* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Roboto', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color:#192b47;
}
html {
  scroll-behavior: smooth;
}